.home-hero-wrapper {
  max-width: unset;
  padding: 0;
}

.home-hero-inner-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding: 18px;
}

.home-hero-title {
  position: relative;
  z-index: 2;
  margin: 0;
  width: 100%;
  line-height: 1.2;
}

.home-hero-description,
.home-hero-link {
  position: relative;
  z-index: 2;
  margin: 0;
}

.home-hero-image {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.home-hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-hero-overlay {
  position: absolute;
  z-index: 1;
}

.home-hero-inner-container-left {
  & .home-hero-title,
  $ .home-hero-description {
    text-align: left;
  }
}

.home-hero-overlay-left {
  top: 0;
  right: 50%;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
}

@media (width >= 900px) {
  .home-hero-inner-container-left {
    & .home-hero-title,
    & .home-hero-description {
      max-width: 50%;
      margin-right: auto;
    }
  }
  .home-hero-overlay-left {
    width: 65vw;
    height: 100%;
    left: 50%;
    margin-left: -50vw;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
}
